{% extends "base_generic.html" %}
{% load i18n %}
{% load custom_tags %}

{% block content %}
  <h1>{% translate "Author:" %} {{ author }} </h1>
  <p>{{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %}</p>
  <div class="book-container">
    <h4>{% translate "Books" %}</h4>
    <dl>
      {% for book in author_list_book %}
        <dt><a href="{% url 'book-detail' book.pk %}">{{book}}</a> ({{book_copy|get_item:book.pk}})</dt>
        <dd>{{book.summary}}</dd>
      {% endfor %}
    </dl>
  </div>
{% endblock %}
